# Ignore the Python cache files
__pycache__/

# Ignore the virtual environment directory
venv/
env/

# Ignore the Dockerfile itself
Dockerfile

# Ignore any local configuration files
*.local

# Ignore any logs
*.log

# Ignore any compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/